/* FORMS */

textarea, input[type=text], button { font: inherit; outline: none; }

textarea, input[type=text] {
    width: 100%;
    border: none;
    background: transparent;
    padding: 0;
}

button {
  padding: 0.5em 1.75em;
  background: #c3c;
  color: white;
  border: none;
  border-radius: 4px;
}
button:hover { background: #d4d; }
button:active { background: #c3c; }

.form_row { margin: 1em 0; }

/* EDIT POST */
body.dragover { background-color: #F0FCF0; }
.edit-post { max-width: 550px; }
.edit-post textarea { height: 250px; resize: vertical;}
.autosave { position: absolute; right: -20px; top: 7px; width: 10px; height: 10px; border-radius: 50%; pointer-events: none; transition: 0.2s background-color; }
.autosave-clean  { border: 1px solid #ccc; background: #ccc; }
.autosave-dirty  { border: 1px solid #aaa;  }
.autosave-saving { border: 1px solid #aaa; background: #eee; }
.autosave-error  { border: 1px solid #aaa; background: #c33; }


.edit-post_picture { min-height: 60px; position: relative; }
.edit-post_picture-empty { background-image: url(upload.svg); background-color: #999; background-repeat: no-repeat; background-position: center center; opacity: 0.2; }
body.dragover .edit-post_picture { opacity: 0.5; }

.edit-post_picture_delete { position: absolute; right: -30px; top: 2px; width: 20px; height: 20px; }
.edit-post_picture_delete > svg > circle { fill: #ccc; }
.edit-post_picture_delete:hover > svg > circle { fill: #999; }
.edit-post_picture_delete > svg > path { stroke: #fff; stroke-width: 1px; }

.edit-post_picture_inner { position: relative; }
.edit-post_picture_img { display: block; margin: 0; }
.edit-post_picture_progress { position: absolute; width: 100%; left: 0; bottom: 0; background: white; opacity: 0.; }
.edit-post_picture_failed { background: #c33; position: absolute; width: 100%; height: 100%; left: 0; top: 0; opacity: 0.8; }
.edit-post_file { display: none; }
.edit-post_cancel,
.edit-post_cancel:hover,
.edit-post_cancel:active { background: none; color: #000; }

.edit-post_cancel:hover { position: relative; top: -1px; color: #555; }

input[type=text].edit-post_author { display: inline-block; width: calc(100% - 100px); margin: 0; padding: 0; border: none; background: transparent; }

/* EMAIL SENT */

.email-sent { padding: 1em 3em; margin: 0 -3em; background: #EEE; }
.email-sent_message { font-size: 200%; line-height: 1.4em; }

