* { box-sizing: border-box; }

body {
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1em;*/
  font-family: sans-serif;
  line-height: 140%;
  padding: 0.25em 1em;
  max-width: 640px;
  margin: 0 auto;
}


/* HEADER */

header { margin-bottom: 2em; }

.title { margin-bottom: 0; }
.title_back { position:absolute; margin-left: -1em; text-decoration: none; }
.title_back:hover { text-decoration: underline; }

.title_new { padding: 10px; margin: -10px 0 0 0; float: right; text-decoration: none; color: #c3c; }
.title_new:hover { color: #d4d; }
body.anonymous .title_new { display: block; }

.subtitle { margin-left: 0.09em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.subtitle > span { cursor: pointer; }


/* POST */

.post { display: flex; justify-content: flex-start; margin-bottom: 2em; }
.post_side { margin-right: 20px; min-width: 50px; }
@media (max-width: 399px) {
    .post_side { display: none; }
}
.post_avatar { border-radius: 100%; width: 50px; height: 50px; }
.post_img { display: block; margin-bottom: 1em; }
.post_img-fix { display: block; background-size: 100%; position: relative; }
.post_img-fix > img { position: absolute; height: 100%; }
.post_video,
.post_img-flex > img { display: block; max-width: 100%; height: auto; max-height: 500px; }
.post_author { font-weight: bold; }
.post_content { width: 100%; }

.post_meta_edit { float: right; color: #c3c; }
.post_meta_edit:hover { color: #d4d; }
body.anonymous .post_meta_edit { display: none; }


/* FOOTER */

@keyframes rotating {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.loader { margin: 0 0 3em 0; text-align: center; }
.loader > img { width: 76px; height: 76px; border: 2px solid #000; border-radius: 50%; }
.loader-loading > img { animation: rotating 1s ease-in-out infinite; }
.loader-error > img { cursor: pointer; border-color: red; }
.loader-error > img:hover { position: relative; top: -1px; }

footer {
  padding: 1em 0 3em;
  margin-top: 3em;
  border-top: 1px solid #DDD;
  font-size: 0.75rem;
}

footer, footer > a { color: #CCC; }
footer > a:hover { color: #00E; }
