* { box-sizing: border-box; }

body {
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1em;*/
  font-family: sans-serif;
  line-height: 140%;
  padding: 0.25em 1em;
  max-width: 640px;
  margin: 0 auto;
}


/* HEADER */

header { margin-bottom: 2em; }

.title { margin-bottom: 0; }
.title_back { margin-left: -1em; position:absolute; text-decoration: none; }
.title_back:hover { text-decoration: underline; }

.title_new { padding: 10px; margin: -10px 0 0 0; float: right; text-decoration: none; color: #c3c; }
.title_new:hover { color: #d4d; }
body.anonymous .title_new { display: none; }

.subtitle { margin-left: 0.09em;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
.subtitle > span { cursor: pointer; }


/* POST */

.post { display: flex; justify-content: flex-start; margin-bottom: 2em; }
.post_side { margin-right: 20px; min-width: 50px; }
.post_avatar { border-radius: 100%; width: 50px; height: 50px; }

.post_img { max-width: 100%; height: auto; }
.post_author { font-weight: bold; }
.post_meta { font-size: 0.75rem; }

.post_meta_edit > a { color: #c3c; }
.post_meta_edit > a:hover { color: #d4d; }
body.anonymous .post_meta_edit { display: none; }


/* FOOTER */

footer {
  padding: 1em 0 1em;
  margin-top: 2em;
  border-top: 1px solid #000;
  font-size: 0.75rem;
}
/*
footer, footer > a { color: #CCC; }
footer > a:hover { color: #00E; }
*/
